- content_for :title, "Manage users"
- script 'users-manage'
- style 'users-manage'

%h1 Manage users
%h3 Current users

%table{:style => "width: 100%", :id => "usr-table", :validate => 1}
  %thead
    %tr
      %th Name
      %th Email
      %th Class
      %th Last logged in
      %th Admin?
      %th Role
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, edit_users_path(user: {:id => user.id})
        %td= user.email
        %td= user.clazz
        %td= user.last_sign_in_at
        %td= user.admin?
        %td= user.role.capitalize
        %td= link_to "Delete", users_path(:id => user.id), method: :delete, data: { confirm: "Are you sure?" }, :class => "text-danger"
        %td
          - if user.admin? == false
            = link_to "Make admin", makeadmin_users_path(:user => {:id => user.id}), data: { confirm: "Pretty sure about this?" }, :class => "text-info"
          - elsif user != current_user
            = link_to "Demote", demote_users_path(:user => {:id => user.id}), data: { confirm: "Are you absolutely sure?" }, :class => "text-danger"
          - else
            This is you.
= will_paginate @users

%hr

%button.btn.btn-primary#show-button New user
%div{:id => "task-form", :style => "display: none;"}
  = form_for @user do |f|
    = f.label :name
    = f.text_field :name, :class => "form-control", :required => ""

    = f.label :email
    = f.email_field :email, :class => "form-control", :required => ""

    = f.label :class
    = f.text_field :clazz, :class => "form-control", :required => ""
    %br
    = f.submit 'Create it!', :class => "btn btn-embossed btn-success"
