- content_for :title, "Manage users"
- script 'users-new'

%h1 Manage users
%h2 Current users

%table{:style => "width: 100%"}
  %tr
    %td Name
    %td Email
    %td Class
    %td Last logged in
  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.email
      %td= user.clazz
      %td= user.last_sign_in_at.inspect

%button.btn.btn-default#show-button New user
%div{:id => "task-form", :style => "display: none;"}
  = form_for @user do |f|
    = f.label :name
    = f.text_field :name, :class => "form-control"

    = f.label :email
    = f.text_field :email, :class => "form-control"

    = f.label :clazz
    = f.text_field :clazz, :class => "form-control"

    = f.submit 'Create it!', :class => "btn btn-default"
