- content_for :title, "Manage users"
- script 'users-manage'
- style 'users-manage'

%h1= t('.manage_users')
%h3= t('.current_users')

%table{:style => "width: 100%", :id => "usr-table", :validate => 1}
  %thead
    %tr
      %th= t('.name')
      %th= t('.email')
      %th= t('.class')
      %th= t('.last_logged_in')
      %th= t('.role')
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, edit_users_path(user: {:id => user.id})
        %td= user.email
        %td= user.clazz
        %td= user.last_sign_in_at
        %td= user.role.humanize
        %td= link_to t('.delete'), users_path(:id => user.id), method: :delete, data: { confirm: "Are you sure?" }, :class => "text-danger"
        %td
          - if user.admin? == false
            = link_to t('.make_admin'), makeadmin_users_path(:user => {:id => user.id}), data: { confirm: "Pretty sure about this?" }, :class => "text-info"
          - elsif user != current_user
            = link_to t('.demote'), demote_users_path(:user => {:id => user.id}), data: { confirm: "Are you absolutely sure?" }, :class => "text-danger"
          - else
            = t('.this_is_you')
= will_paginate @users

%hr

%button.btn.btn-primary#show-button= t('.new_user')
%div{:id => "task-form", :style => "display: none;"}
  = form_for @user do |f|
    = f.label :name
    = f.text_field :name, :class => "form-control", :required => ""

    = f.label :email
    = f.email_field :email, :class => "form-control", :required => ""

    = f.label :class
    = f.text_field :clazz, :class => "form-control", :required => ""
    %br
    = f.submit t('.create_it'), :class => "btn btn-embossed btn-success"
