- script 'users-show'

- content_for :title do
  = "#{@user.name}'s profile"
= link_to "Sign out", destroy_user_session_path, :method => :delete
%hr
%button.btn.btn-primary#show-button Edit account

%div{:id => "hidden_form", :style => "display: none;"}
  = render "change"
- if can? :manage, @users
  %hr
  = link_to "Manage users", manage_users_path
