- script 'users-show'

- content_for :title do
  =t('.usernames_profile', :username => (@user.name))

.text-center
  = image_tag @user.avatar.thumbnail.url, :class => "img-circle"
  %h4= @user.name
  %h6= @user.clazz
= link_to t('.sign_out'), destroy_user_session_path(:id => @user.id), :method => :delete
%hr
%button.btn.btn-primary#show-button= t('.edit_account')
%a{:href => avatar_users_path, :class => "btn btn-default"}= t('.change_avatar')

%div{:id => "hidden_form", :style => "display: none;"}
  = render "change"
- if can? :manage, @users
  %hr
  = link_to t('.manage_users'), manage_users_path
