- content_for :title, @lesson.title

%h2= @lesson.title
%h5
  = t('.written_by_lessonteacher_at_le', :lessonteacher => (@lesson.teacher), :lessontime => (@lesson.time))
:markdown
  #{@lesson.content}

- if can? :manage, @lessons
  = link_to t('.edit'), edit_lesson_path(@lesson)

- if current_user.student? && current_user.courses.include?(@lesson.course)
  = link_to t('.submit_homework_solve'), new_homework_path
%hr
= link_to t('.back'), '#', class: "back_link"
