- content_for :title, @lesson.title

%h2= @lesson.title
%h5
  Written by #{@lesson.teacher} at #{@lesson.time}
:markdown
  #{@lesson.content}

- if can? :manage, @lessons
  = link_to 'Edit', edit_lesson_path(@lesson)

- if current_user.student? && current_user.courses.include?(@lesson.course)
  = link_to 'Submit homework solve', new_homework_path
%hr
= link_to 'Back', '#', class: "back_link"
