- content_for :title, @course.name

%h1= @course.name
%h6= "#{@course.subject}, #{@course.teacher}"
.container
  - @course.lessons.each do |lesson|
    .col-md-4
      %paper-shadow{:z => 1, :class => "card"}
        %h4= link_to lesson.title, lesson_path(:id => lesson.id)
        %h5= lesson.time

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path

- if can? :manage, :lessons
  %hr
  = link_to 'New lesson', new_lesson_path
