- content_for :title, @course.name

%h1= @course.name
%h6= t('.coursesubject_courseteacher', :coursesubject => (@course.subject), :courseteacher => (@course.teacher))
.container
  - @course.lessons.each do |lesson|
    .col-md-4
      %paper-shadow{:z => 1, :class => "card"}
        %h4= link_to lesson.title, lesson_path(:id => lesson.id)
        %h5= lesson.time

= link_to t('.edit'), edit_course_path(@course)
\|
= link_to t('.back'), courses_path

- if can? :manage, :lessons
  %hr
  = link_to t('.new_lesson'), new_lesson_path
