= simple_form_for @post, html: { class: 'form-horizontal' } do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= t('.pluralizeposterrorscount_error', :pluralizeposterrorscount_error => (pluralize(@post.errors.count, "error")))
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  = f.input :name, required: true

  = f.input :title, required: true
  -# .field
  -#   = f.label :content
  -#   %br
  -#   = f.text_area :content, id: 'editor wmd-input', class: 'wmd-input form-control', rows: '15'
  = f.input :content, :as => :pagedown, :input_html => { :preview => true }

  = f.input :author_name, :value => current_user.name

  = f.label :time
  = f.datetime_select :time, time: Time.now
  .actions
    = f.button :submit, t('.save'), class: 'btn'
