- content_for :title, 'Posts'

- if !@posts.any?
  %h1= t('.no_posts')

- @posts.each do |post|
  -# %h1= post.title
  -# %h6= "By #{post.author_name} at #{post.time}"
  -# = post.content
  -# %br
  -# = render "edit", :post => post
  -# %br
  = render "post", :post => post

- if can? :manage, @posts
  %hr
  = link_to t('.new_post'), new_post_path
%hr
= will_paginate @posts
