!!! 5

%html
  %head
    %title= t('.title', :title => (yield(:title) + " |" if yield(:title) != ""))
    = stylesheet_link_tag "//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    params[:controller]
    = javascript_include_tag "//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag params[:controller]

    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width"}
  %body
    %header
      %nav{:role => "navigation"}
        .nav-wrapper.container
          %a#logo-container.center.brand-logo{:href => "/"}= t('.garena')
          %a.button-collapse{:href => "#", :data => {:activates => "nav-mobile"}}
            %i.mdi-navigation-menu

          %ul.side-nav.fixed#nav-mobile
            %li= link_to t('.home'), root_path
            %li= link_to t('.courses'), courses_path
            - if user_signed_in?
              %li= link_to t('.my_profile'), users_path
            - else
              %li= link_to t('.sign_in'), new_user_session_path
            %i.mdi-navigation-menu
          // .collapse.navbar-collapse#collapse-button
          //   %ul.nav.navbar-nav
          //     %li= link_to t('.home'), root_path
          //     %li= link_to t('.courses'), courses_path
          //     %li= link_to t('.my_profile'), users_path
          // %p.navbar-text.navbar-right
          %ul.right.hide-on-med-and-down
            - if user_signed_in?
              %li
                // = t('.signed_in_as')
                // = link_to current_user.name, users_path
                // = link_to image_tag(current_user.avatar.pic.url, :class => "img-circle"), users_path
                = link_to "#{t('.signed_in_as')} #{current_user.name} #{image_tag(current_user.avatar.pic.url, class: 'responsive-img circle')}".html_safe, users_path
            - else
              %li= link_to t('.sign_in'), new_user_session_path
    %main
      .container
        .row
          .col
            .flash
              - if flash[:success]
                .alert.alert-success
                  %i.fa.fa-check-circle
                  = flash[:success]
              - if flash[:notice]
                .alert.alert-info
                  %i.fa.fa-info-circle
                  = flash[:notice]
              - if flash[:alert]
                .alert.alert-warning
                  %i.fa.fa-exclamation-triangle
                  = flash[:alert]
              - if flash[:error]
                .alert.alert-danger
                  %i.fa.fa-times-circle
                  = flash[:error]
            =yield
    = yield :scripts
    = yield :styles
