%html
  %head
    %title= "#{yield(:title) + " |" if yield(:title) != ""} gArena"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    params[:controller]
    = yield(:styles)
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag params[:controller]
    = html_import_tag 'application'
    = yield(:scripts)
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width"}
  %body{:style => "padding-top: 70px;"}
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button{:type => "button", :class => "navbar-toggle collapsed", :data => {"toggle" => "collapse", "target" => "#collapse-button"}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a{:class => "navbar-brand", :href => "/"} gArena

        .collapse.navbar-collapse#collapse-button
          %p.navbar-text.navbar-right
            - if user_signed_in?
              Signed in as
              = link_to current_user.name, users_path
            - else
              = link_to "Sign in", new_user_session_path
    .container
      - if flash[:success]
        .alert.alert-success
          %i.fa.fa-check-circle
          = flash[:success]
      - if flash[:notice]
        .alert.alert-info
          %i.fa.fa-info-circle
          = flash[:notice]
      - if flash[:alert]
        .alert.alert-warning
          %i.fa.fa-exclamation-triangle
          = flash[:alert]
      - if flash[:error]
        .alert.alert-danger
          %i.fa.fa-times-circle
          = flash[:error]

      =yield
